<!DOCTYPE html>
<html lang="ru">
<%- partial('common/head') %>
<body>
  <%- partial('common/header') %>
  <%- partial('common/breadcrumb') %>
  <main class="main">
    <%- partial('service') %>
    <%- partial('common/call-to-action') %>
    <section class="vendors" itemscope itemtype="http://schema.org/ListItem">
      <h2 class="vendors__title">Производители</h2>
      <link href="http://moscow.back-way.ru/recovery/vendors/" itemprop="url" />
      <meta itemprop="name" content="Производители оборудования, с которых мы восстанавливаем данные в Москве" />
      <div class="vendors__carousel owl-carousel">
        <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <a class="vendors__link" href="/" itemprop="url">
            <img class="vendors__logo" src="/assets/images/ocz.svg" />
          </a>
          <meta itemprop="name" content="Восстановление данных с устройств OCZ в Москве" />
        </div>
        <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <a class="vendors__link" href="/" itemprop="url">
            <img class="vendors__logo" src="/assets/images/samsung.svg" />
          </a>
          <meta itemprop="name" content="Восстановление данных с устройств Samsung в Москве" />
        </div>
        <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <a class="vendors__link" href="/" itemprop="url">
            <img class="vendors__logo" src="/assets/images/seagate.svg" />
          </a>
          <meta itemprop="name" content="Восстановление данных с устройств Seagate в Москве" />
        </div>
        <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <a class="vendors__link" href="/" itemprop="url">
            <img class="vendors__logo" src="/assets/images/toshiba.svg" />
          </a>
          <meta itemprop="name" content="Восстановление данных с устройств Toshiba в Москве" />
        </div>
        <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <a class="vendors__link" href="/" itemprop="url">
            <img class="vendors__logo" src="/assets/images/transcent.svg" />
          </a>
          <meta itemprop="name" content="Восстановление данных с устройств Transcend в Москве" />
        </div>
        <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
          <a class="vendors__link" href="/" itemprop="url">
            <img class="vendors__logo" src="/assets/images/wd.svg" />
          </a>
          <meta itemprop="name" content="Восстановление данных с устройств Western Digital в Москве" />
        </div>
      </div>
    </section>
    <div class="relink">
      <section class="relink__block relink__block_25" itemscope itemtype="http://schema.org/ListItem">
        <h2 class="relink__title">Причины</h2>
        <link href="http://moscow.back-way.ru/recovery/crash/" itemprop="url" />
        <meta itemprop="name" content="Причины, после которых мы восстанавливаем данные в Москве" />
        <ul class="relink-list">
          <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных после форматирования в Москве" />
            <a href="/" class="relink-list__link" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "format", cssSelector: "relink-list__icon"}) %>
              <span>Форматирование</span>
            </a>
          </li>
          <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных после удаления в Москве" />
            <a href="/" class="relink-list__link" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "trash", cssSelector: "relink-list__icon"}) %>
              <span>Удаление</span>
            </a>
          </li>
          <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных после вирусов в Москве" />
            <a href="/" class="relink-list__link" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "bug", cssSelector: "relink-list__icon"}) %>
              <span>Вирусы</span>
            </a>
          </li>
          <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных после шифрования в Москве" />
            <a href="/" class="relink-list__link" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "crypt", cssSelector: "relink-list__icon"}) %>
              <span>Шифрование</span>
            </a>
          </li>
          <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных после падения в Москве" />
            <a href="/" class="relink-list__link" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "down", cssSelector: "relink-list__icon"}) %>
              <span>Падение</span>
            </a>
          </li>
          <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных после пожара в Москве" />
            <a href="/" class="relink-list__link" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "fire", cssSelector: "relink-list__icon"}) %>
              <span>Пожар</span>
            </a>
          </li>
          <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных после затопления в Москве" />
            <a href="/" class="relink-list__link" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "water", cssSelector: "relink-list__icon"}) %>
              <span>Затопление</span>
            </a>
          </li>
          <li class="relink-list__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных после перезаписи в Москве" />
            <a href="/" class="relink-list__link" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "replace", cssSelector: "relink-list__icon"}) %>
              <span>Перезапись</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="relink__block relink__block_40" itemscope itemtype="http://schema.org/ListItem">
        <h2 class="relink__title">Типы данных</h2>
        <link href="http://moscow.back-way.ru/recovery/files/" itemprop="url" />
        <meta itemprop="name" content="Типы данных, которые мы восстанавливаем в Москве" />
        <div class="relink-tiles-list">
          <div class="relink-tile" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление фотографий в Москве" />
            <a class="relink-tile__link" href="/" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "images", cssSelector: "relink-tile__icon"}) %>
              <span class="relink-tile__title">Фотографии</span>
            </a>
          </div>
          <div class="relink-tile" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление файлов документов в Москве" />
            <a class="relink-tile__link" href="/">
              <%- partial('common/svg-sprite-element', {icon: "docs", cssSelector: "relink-tile__icon"}) %>
              <span class="relink-tile__title">Документы</span>
            </a>
          </div>
          <div class="relink-tile" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление баз данных в Москве" />
            <a class="relink-tile__link" href="/">
              <%- partial('common/svg-sprite-element', {icon: "data", cssSelector: "relink-tile__icon"}) %>
              <span class="relink-tile__title">Базы данных</span>
            </a>
          </div>
          <div class="relink-tile" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление музыки в Москве" />
            <a class="relink-tile__link" href="/">
              <%- partial('common/svg-sprite-element', {icon: "musics", cssSelector: "relink-tile__icon"}) %>
              <span class="relink-tile__title">Музыка</span>
            </a>
          </div>
          <div class="relink-tile" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление видео в Москве" />
            <a class="relink-tile__link" href="/">
              <%- partial('common/svg-sprite-element', {icon: "videos", cssSelector: "relink-tile__icon"}) %>
              <span class="relink-tile__title">Видео</span>
            </a>
          </div>
        </div>
      </section>
      <section class="relink__block relink__block_40" itemscope itemtype="http://schema.org/ListItem">
        <h2 class="relink__title">Операционные системы</h2>
        <link href="http://moscow.back-way.ru/recovery/system/" itemprop="url" />
        <meta itemprop="name" content="Операционные системы, данные которых мы восстанавливаем в Москве" />
        <div class="relink-tiles-list">
          <div class="relink-tile" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных операционных систем компании Apple в Москве" />
            <a class="relink-tile__link" href="/" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "apple", cssSelector: "relink-tile__icon"}) %>
              <span class="relink-tile__title">Apple</span>
            </a>
          </div>
          <div class="relink-tile" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных операционных систем семейства Windows в Москве" />
            <a class="relink-tile__link" href="/" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "windows", cssSelector: "relink-tile__icon"}) %>
              <span class="relink-tile__title">Windows</span>
            </a>
          </div>
          <div class="relink-tile" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных операционных систем семейства Linux в Москве" />
            <a class="relink-tile__link" href="/" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "linux", cssSelector: "relink-tile__icon"}) %>
              <span class="relink-tile__title">Linux</span>
            </a>
          </div>
          <div class="relink-tile" itemprop="item" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="name" content="Восстановление данных операционных систем семейства Android в Москве" />
            <a class="relink-tile__link" href="/" itemprop="url">
              <%- partial('common/svg-sprite-element', {icon: "android", cssSelector: "relink-tile__icon"}) %>
              <span class="relink-tile__title">Android</span>
            </a>
          </div>
        </div>
      </section>
    </div>
  </main>
 

  <%- partial('common/footer') %>
  <script async src="/assets/js/commons.js"></script>

</body>

</html>
