<header class="header">
  <%- partial('header/top-panel') %>
  <div class="middle-panel">
    <%- partial('header/logo') %>
    <%- partial('header/menu') %>
  </div>
  <div class="bottom-panel">
    <%- partial('header/submenu') %>
    <%- partial('common/call-to-action-link') %>
  </div>
</header>